[user]
  name = John Barker
  email = jebarker@gmail.com
[github]
  user = GITHUB_USER
  token = GITHUB_TOKEN
[core]
	excludesfile = ~/.gitignore
  # Tabs appear as two spaces
  pager = less -FXRS -x2
  whitespace = space-before-tab tab-in-indent trailing-space
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  flog = log --pretty=fuller
  st = status
  ds = diff --staged
  co = checkout
  fixup = commit --fixup
  squash = commit --squash
  show-upstream = rev-parse --symbolic-full-name --abbrev-ref @{u}
  unstage = reset HEAD
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[format]
  pretty = %Cred%h%Creset %C(bold blue)<%an>%Creset %s %Cgreen[%ar]%Creset
[color "branch"]
  current = green bold
  local = green
  remote = red bold
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red
[color "sh"]
  branch = yellow
[push]
  # 'git push' should only do the current branch, not all
  default = current
[branch]
  # always setup 'git pull' to rebase instead of merge
  autosetuprebase = always
[diff]
  renames = copies
  mnemonicprefix = true
[rerere]
  enabled = true
[merge]
  tool = vimdiff
[rebase]
  autosquash = true
